body {
	text-align: center;
	height: 90vh;
}

hr {
	width: 50%;
	margin: 0 auto;
	border: 0;
	height: 1px;
	padding: 2px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

code {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 14px;
	color: #333;
	background-color: #f0f0f0;
	padding: 2px 4px;
	border-radius: 3px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.container-item {
	flex: 1 1;
	padding: 10px;
}

.product img {
	height: 20vh;
}

.boxed {
	width: 95%;
	margin: 0 auto;
	border-style: solid;
	border-color: #8c8b8b;
	padding: 5px;
}

.left {
	text-align: left;
}

.centre {
	text-align: center !important;
}

.centre table {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.code-screenshot {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 14px;
	color: #333;
	background-color: #f0f0f0;
	padding: 2px 4px;
	border-radius: 3px;
	text-align: left;
	margin: auto;
	width: 75%;
}

.credit {
	width: 100%;
	text-align: center;
	font-size: smaller;
	padding: 0.5em;
	margin: auto;
}

.credit img {
	float: none;
	height: 60vh;
}

.credit span {
	width: 100%;
	float: left;
	clear: left;
	font-size: 2vh;
}

.yiffos-table {
	width: 100%;
	text-align: center;
	padding: 0 25% 0 25%;
}

.yiffos-table td {
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	width: 10%;
}

#footer {
	text-align: center;
	width: 100%;
	margin-top: 100px;
}

#big-space {
	margin-top: 10%;
}
